Maze/Maze_linux/Maze_v2_Data/*
*.so
*.exe
*.dll
*.hdf5
*.dat
__pycache__/*
*.pyc
*.dmp
*.img
*.7z
.gdb_history
Captcha/checkpoints/*
Captcha/training-captchas/*
Captcha/testing-captchas/*
*.tfrecords
*.log
gdb.txt
Follow-The-White-Rabbit-Datamining/EditedRabbit/*
Follow-The-White-Rabbit/*
